{% extends 'base.html.twig' %}

{% block body %}

    <ul class="nav nav-tabs">
        {% set active="active" %}
        {% for company in companies %}
            <li class={{ active }}><a data-toggle="tab" href="#{{ company.id }}">{{ company.name }}</a></li>
                {% set active="" %}
            {% endfor %}
    </ul>
    <div class="tab-content">
        {% set inactive="in active" %}
        {% for company in companies %}   
            <div id="{{ company.id }}" class="tab-pane fade {{ inactive }}">
                {% set inactive="" %}   
                {% if company.invoices |length > 0 %}
                    <div id="borderedTable" class="body collapse in">

                        <table class="table table-bordered responsive-table">
                            <thead>
                                <tr>                   
                                    <th>Nr faktury</th>
                                    <th>Data wystawienia</th> 
                                    <th>Data płatności</th>                       
                                    <th>Waluta</th>                       
                                    <th>Sprzedawcy</th>                                                                     
                                    <th>Nabywca</th>                        
                                    <th>Kwota netto</th>
                                    <th>VAT</th>
                                    <th>Brutto</th>                       
                                    <th>Akcje</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for invoice in company.invoices %}
                                    <tr>
                                        <td><a class="btn btn-info btn-sm" href="{{ path('invoice_show', { 'id': invoice.id }) }}">{{ invoice.invoiceNo }}</a></td>                        
                                        <td>{% if invoice.dateIssue %}{{ invoice.dateIssue|date('Y-m-d') }}{% endif %}</td>                         
                                        <td>{% if invoice.datePayment %}{{ invoice.datePayment|date('Y-m-d') }}{% endif %}</td>                         
                                        <td>{{ invoice.currency }}</td>                     
                                        <td>{{ invoice.sellerName }}</td>                       
                                        <td>{{ invoice.customerName }}</td>                           
                                        <td>{{ invoice.totalValueNet }}</td>
                                        <td>{{ invoice.totalAmountVAT }}</td>
                                        <td>{{ invoice.totalValueGross }}</td>                           
                                        <td>                                                                  
                                            {#<a class="btn btn-default btn-sm" href="{{ path('invoice_show', { 'id': invoice.id }) }}">Faktura</a>  #}

                                            {{ form_start(delete_form) }}
                                            <input type="submit" class="btn btn-warning btn-sm" value="Usuń fakturę">
                                            {{ form_end(delete_form) }}                                
                                            <a class="btn btn-primary btn-sm" href="{{ path('invoice_edit', { 'id': invoice.id }) }}">Edycja faktury</a>                                                                  
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        <ul>

                            {% for customer in company.customers %}
                                <a class="btn btn-success btn-sm" href="{{ path('invoice_new', {'id' : customer.id }) }}">Wystaw fakturę dla {{customer.name}}</a> 
                            {% endfor %}

                        </ul>
                    </div>
                {% else %}
                    <p class="text-center">brak faktur w bazie dla firmy {{ company.name }}<p>
                    {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
