{% extends 'base.html.twig' %}

{% block body %}
    <h3>Tworzenie nowej faktury</h3>
    {% form_theme form ':invoice:jquery.collection.html.twig' %}

    {{ form_start(form) }}

    <div class="text-muted text-center">
        Faktura nr
        {{ form_widget(form.invoiceNo) }}
    </div>
    <div class="text-muted text-right">
        Data wystawienia:
        {{ form_widget(form.dateIssue) }}   
    </div>
    <div class="text-muted text-right">
        Data sprzedaży:
        {{ form_widget(form.dateSale) }}
    </div>
    <div class="text-muted text-right">
        Termin płatności:
        {{ form_widget(form.datePayment) }}
    </div> 
    <div class="row">
        <div class="col-md-6">
            <div>
                Nazwa sprzedawcy:
                {{ form_widget(form.sellerName) }}
            </div>
            <div>
                Adres sprzedawcy:
                {{ form_widget(form.sellerAddressStreet) }} <br>
                {{ form_widget(form.sellerAddressLocalNo) }} 
                {{ form_widget(form.sellerAddressFlatNo) }} <br>
                {{ form_widget(form.sellerPostalCode) }}
                {{ form_widget(form.sellerAddressCity) }}
            </div>
            <div>
                Telefon sprzedawcy:
                {{ form_widget(form.sellerPhone) }}
            </div>
            <div>
                NIP sprzedawcy:
                {{ form_widget(form.sellerNip) }}
            </div>
        </div>
        <div class="col-md-6">
            <div>
                Nazwa nabywcy:
                {{ form_widget(form.customerName) }}
            </div> 
            <div>
                adres nabywcy:
                {{ form_widget(form.customerAddressStreet) }} <br>
                {{ form_widget(form.customerAddressLocalNo) }}
                {{ form_widget(form.customerAddressFlatNo) }} <br>
                {{ form_widget(form.customerAddressPostalCode) }}
                {{ form_widget(form.customerAddressCity) }}
            </div>    
            <div>
                Telefon nabywcy:
                {{ form_widget(form.customerPhone) }}
            </div>
            <div>
                NIP nabywcy:
                {{ form_widget(form.customerNip) }}
            </div>
        </div>

    </div>
    <hr>
    <div class="text-muted text-center">
        {% for position in form.positions %}
            Lp.:
            {{ form_widget(position.ordinal, {"label" : "Lp"}) }}
            nazwa towaru/usługi:
            {{ form_widget(positions.productName) }}       
            PKWIU:
            {{ form_widget(position.pkwiu) }}
            ilość:
            {{ form_widget(position.quantity) }}                       
            JM
            {{ form_widget(position.unitMeasure) }} 
            cena netto:
            {{ form_widget(position.priceNet) }} 
            wartość netto:
            {{ form_widget(position.valueNet) }}
            VAT:
            {{ form_widget(position.rateVAT) }}
            kwota VAT:
            {{ form_widget(position.amountVAT) }}
            wartość brutto:
            {{ form_widget(position.valueGross) }}            
        {% endfor %}
    </div> 
    <hr>
    <div class="row">
        <div class="col-md-6">
            <div>
                Sposób płatności:
                {{ form_widget(form.paymentMethod) }}
            </div>
            <div>
                Bank:
                {{ form_widget(form.bank) }}
            </div> 
            <div>
                Nr rachunku bankowego:
                {{ form_widget(form.iban) }}
            </div>
            <div>
                Zapłacono:
                {{ form_widget(form.paid) }}
            </div>    
            <div>
                pozostaje do zapłaty:
                {{ form_widget(form.remainToPay) }}
            </div>    
            <div>
                do zapłaty słownie:
                {{ form_widget(form.toPayInWords) }}
            </div>  
        </div>
        <div class="col-md-6">
            <div>
                Razem kwota netto:
                {{ form_widget(form.totalValueNet) }}
            </div>    
            <div>
                Razem kwota VAT:
                {{ form_widget(form.totalAmountVAT) }}
            </div> 
            <div>
                Razem kwota brutto:
                {{ form_widget(form.totalValueGross) }}
            </div>  
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <div>
                Osoba upoważniona do wystawienia faktury:
                {{ form_widget(form.authorisedToIssue) }}
            </div>
        </div>
        <div class="col-md-6">
            <div>
                Osoba upoważniona do otrzymania faktury:
                {{ form_widget(form.allowedToReceive) }}
            </div>
        </div>        
    </div>          



    {#{{ form_widget(form) }}#}
    <input type="submit" class="btn btn-success btn-sm" value="Zapisz fakturę" />
    {{ form_end(form) }}


    <a class="btn btn-default btn-sm" href="{{ path('invoice_index') }}">Powrót do listy faktur</a>


    <script src="/js/jquery-3.1.1.js"></script>
    <script src="/js/jquery.collection.js"></script>

    <script type="text/javascript">
        $('.pozycja').collection({
            min: 1,
            init_with_n_elements: 1
        });

    </script>           

{% endblock %}
