    {#{% extends 'base.html.twig' %}#}
{% block head %}
    <meta charset="utf-8">
    
   {#<script src="{{ absolute_url(asset('js/jquery-3.1.1.min.js'))}}"></script>#}
    <script>
        
  document.addEventListener("DOMContentLoaded", function(){  
        var subTotalSum = 0;
        var secondSum = 0;
        var thirdSum = 0;
        var fourthSum = 0;
        var fifthSum = 0;
        var sixthSum = 0;
        var loop = document.getElementsByClassName("position");
        console.log(loop.length);
        for (var j = 1; j < loop.length +1; j++) {
            
            var worth = document.querySelector("#getinvoicebundle_invoice_positions_" + j + "_valueNet").value;
           
            console.log(worth);
            if (!isNaN(worth) && (document.getElementById("getinvoicebundle_invoice_positions_" + j + "_rateVAT").value == 23)) {
                subTotalSum += parseInt(worth);
 
            } else if (!isNaN(worth) && ( document.getElementById("getinvoicebundle_invoice_positions_" + j + "_rateVAT").value == 8)) {
                secondSum += parseInt(worth);

            } else if (!isNaN(worth) && (document.getElementById("getinvoicebundle_invoice_positions_" + j + "_rateVAT").value == 5)) {
                thirdSum += parseInt(worth);

            } else if (!isNaN(worth) && (document.getElementById("getinvoicebundle_invoice_positions_" + j + "_rateVAT").value == 0)) {
                fourthSum += parseInt(worth);

            } else if (!isNaN(worth) && (document.getElementById("getinvoicebundle_invoice_positions_" + j + "_rateVAT").value == -1)) {
                fifthSum += parseInt(worth);

            } else if (!isNaN(worth) && (document.getElementById("getinvoicebundle_invoice_positions_" + j + "_rateVAT").value == -2)) {
                sixthSum += parseInt(worth);

            }  
        }
      
   var vat0 = document.getElementById("vat0");
   var vat1 = document.getElementById("vat1");
   var vat2 = document.getElementById("vat2");
   var vat3 = document.getElementById("vat3");
   var vat4 = document.getElementById("vat4");
   var vat5 = document.getElementById("vat5");
    if (subTotalSum > 0) {
      document.getElementById("invoiceSummary0-netValueSummaryForTaxRate").value = subTotalSum.toLocaleString(undefined, {minimumFractionDigits: 2});
      vat0.style = "display: inline";  
      document.getElementById("invoiceSummary0-taxAmountSummaryForTaxRate").value = (subTotalSum * 0.23).toLocaleString(undefined, {minimumFractionDigits: 2});
      document.getElementById("invoiceSummary0-valueSummaryForTaxRate").value = (subTotalSum + (subTotalSum * 0.23)).toLocaleString(undefined, {minimumFractionDigits: 2});
    }   
    if (secondSum > 0) {
      document.getElementById("invoiceSummary1-netValueSummaryForTaxRate").value = secondSum.toLocaleString(undefined, {minimumFractionDigits: 2});
      vat1.style = "display: inline";
      document.getElementById("invoiceSummary1-taxAmountSummaryForTaxRate").value = (secondSum * 0.08).toLocaleString(undefined, {minimumFractionDigits: 2});
      document.getElementById("invoiceSummary1-valueSummaryForTaxRate").value = (secondSum + (secondSum * 0.08)).toLocaleString(undefined, {minimumFractionDigits: 2});      
    }
    if (thirdSum > 0) {
      document.getElementById("invoiceSummary2-netValueSummaryForTaxRate").value = thirdSum.toLocaleString(undefined, {minimumFractionDigits: 2});
      vat2.style = "display: inline";
      document.getElementById("invoiceSummary2-taxAmountSummaryForTaxRate").value = (thirdSum * 0.05).toLocaleString(undefined, {minimumFractionDigits: 2});
      document.getElementById("invoiceSummary2-valueSummaryForTaxRate").value = (thirdSum + (thirdSum * 0.05)).toLocaleString(undefined, {minimumFractionDigits: 2});      
    }        
    if (fourthSum > 0) {
      document.getElementById("invoiceSummary3-netValueSummaryForTaxRate").value = fourthSum.toLocaleString(undefined, {minimumFractionDigits: 2});
      vat3.style = "display: inline";
      document.getElementById("invoiceSummary3-taxAmountSummaryForTaxRate").value = (fourthSum * 0).toLocaleString(undefined, {minimumFractionDigits: 2});
      document.getElementById("invoiceSummary3-valueSummaryForTaxRate").value = fourthSum.toLocaleString(undefined, {minimumFractionDigits: 2});      
    }         
    if (fifthSum > 0) {
      document.getElementById("invoiceSummary4-netValueSummaryForTaxRate").value = fifthSum.toLocaleString(undefined, {minimumFractionDigits: 2});
      vat4.style = "display: inline";
      document.getElementById("invoiceSummary4-taxAmountSummaryForTaxRate").value = (fifthSum * 0).toLocaleString(undefined, {minimumFractionDigits: 2});
      document.getElementById("invoiceSummary4-valueSummaryForTaxRate").value = fifthSum.toLocaleString(undefined, {minimumFractionDigits: 2});      
    }  
    if (sixthSum > 0) {
      document.getElementById("invoiceSummary5-netValueSummaryForTaxRate").value = sixthSum.toLocaleString(undefined, {minimumFractionDigits: 2});
      vat5.style = "display: inline";
      document.getElementById("invoiceSummary5-taxAmountSummaryForTaxRate").value = (sixthSum * 0).toLocaleString(undefined, {minimumFractionDigits: 2});
      document.getElementById("invoiceSummary5-valueSummaryForTaxRate").value = sixthSum.toLocaleString(undefined, {minimumFractionDigits: 2});      
    } 

  });      

  
    </script>
        
{% endblock %}
   
    
    <style>
        
    /* reset */

    *
    {
        border: 0;
        box-sizing: content-box;
        color: inherit;
        font-family: inherit;
        font-size: inherit;
        font-style: inherit;
        font-weight: inherit;
        line-height: inherit;
        list-style: none;
        margin: 0;
        padding: 0;
        text-decoration: none;
        vertical-align: top;
    }        
        
    table { font-size: 75%; table-layout: fixed; width: 100%; }
    table { border-collapse: separate; border-spacing: 2px; }
    th, td { border-width: 1px; padding: 0.5em; position: relative; text-align: left; }
    th, td { border-radius: 0.25em; border-style: solid; }
    th { background: #EEE; border-color: #BBB; }
    td { border-color: #DDD; }   


</style>
    
{% block onload %}    
   <div onload="sum()">
   </div>
{% endblock onload %}    
    
{% block body %}    
    <div style="text-align: center; margin-bottom: 50px;">           
        <b>Faktura Nr</b>
        {{ invoice.invoiceNo }}           
    </div>
    <div class="row">    

        <div style="float: left; margin-bottom: 150px;" class="col-md-6">
            <div class="text-muted text-left">
                {% if invoice.invoiceLogo ends with 'b/d' or invoice.invoiceLogo is null%}

                {% else %}
                    <img src="{{ absolute_url(asset('uploads/logos/'))}}{{invoice.invoiceLogo}}"
                         height="150" width="150">
                {% endif %}
            </div>           
        </div>


        <div style="float: right; margin-bottom: 150px;">
            <div class="form-group text-muted text-right">                
                <b>Data wystawienia:</b> 
                {% if invoice.dateIssue %}{{ invoice.dateIssue|date('Y-m-d') }}{% endif %}            
            </div>
            <div class="form-group text-muted text-right">
                <b>Data sprzedaży:</b>
                {% if invoice.dateSale %}{{ invoice.dateSale|date('Y-m-d') }}{% endif %}
            </div>
            <div class="form-group text-muted text-right">
                <b>Data płatności:</b>
                {% if invoice.datePayment %}{{ invoice.datePayment|date('Y-m-d') }}{% endif %}
            </div>
        </div>
    </div>
    <div class="form-group">
        &nbsp;
    </div>
    <hr style="color: #000000; background: #000000; width: 100%; height: 2px; margin-bottom: 25px;">            
    <div style="display: inline;" class="row"> 
        <div style="float: left; width: 50%; margin-bottom: 100px; display: inline;" class="col-md-5">
            <div class="form-group">
                <b>Nazwa sprzedawcy:</b>
                {{ invoice.sellerName }}                    
            </div>
            <div class="form-group">       
                <b>Adres sprzedawcy:</b><br>
                {{ invoice.sellerAddressStreet }}<br>
                {{ invoice.sellerPostalCode }}
                {{ invoice.sellerAddressCity }}                              
            </div>
            <div class="form-group">
                <b>Telefon sprzedawcy:</b>
                {{ invoice.sellerPhone }}                              
            </div>
            <div class="form-group">
                <b>NIP sprzedawcy:</b>
                {{ invoice.sellerNip }}                     
            </div>           
        </div>
        <div class="col-md-2">           
        </div>
        <div style="float: right; width: 50%; margin-bottom: 100px; display: inline;" class="col-md-5">
            <div class="form-group">
                <b>Nazwa nabywcy:</b>
                {{ invoice.customerName }}                      
            </div>
            <div class="form-group">
                <b>Adres nabywcy:</b><br>
                {{ invoice.customerAddressStreet }}<br>
                {{ invoice.customerAddressPostalCode }}
                {{ invoice.customerAddressCity }}                    
            </div>
            <div class="form-group">
                <b>Telefon nabywcy:</b>
                {{ invoice.customerPhone }}                    
            </div>
            <div class="form-group">
                <b>NIP nabywcy:</b>
                {{ invoice.customerNip }}                     
            </div>           
        </div>
    </div>
    <hr style="color: #000000; background: #000000; width: 100%; height: 2px;">
    <div class="row">
        <div style="width: 100%; float: left; margin-bottom: 10px;" lass="col-md-12">
            <table class="control-label">
                <th>
                    Lp.:
                </th>
                <th width="150px">
                    Nazwa produktu
                </th>
                <th>
                    PKWiU
                </th>
                <th>
                    ilość
                </th>
                <th>
                    JM
                </th>
                <th>
                    cena netto
                </th>
                <th>
                    wartość netto
                </th>
                <th>
                    VAT
                </th>
                <th>
                    kwota VAT
                </th>
                <th>
                    kwota brutto
                </th>

                <div id="form-test">
                                                                                                   
                    {% for positions in invoice.positions %}
                     
                        <tr class="position">
                      
                        
                            <td> 
                                <input class="form-control input-sm" value="{{ positions.ordinal }}" readonly="readonly">
                            </td>
                            <td> 
                                <input class="form-control input-sm" value="{{ positions.productName }}" readonly="readonly"> 
                            </td>
                            <td> 
                                <input class="form-control input-sm"value="{{ positions.pkwiu }}" readonly="readonly"> 
                            </td>               
                            <td> 
                                <input class="form-control input-sm" id="getinvoicebundle_invoice_positions_{{positions.ordinal}}_quantity" value="{{ positions.quantity }}" readonly="readonly"> 
                            </td>
                            <td> 
                                <input class="form-control input-sm" value="{{ positions.unitMeasure }}" readonly="readonly"> 
                            </td>
                            <td> 
                                <input class="form-control input-sm" id="getinvoicebundle_invoice_positions_{{positions.ordinal}}_priceNet" value="{{ positions.priceNet}}" readonly="readonly"> 
                            </td>
                            <td> 
                                <input class="form-control input-sm" id="getinvoicebundle_invoice_positions_{{positions.ordinal}}_valueNet" value="{{ positions.valueNet }}" readonly="readonly"> 
                            </td>
                            <td> 
                                <input class="form-control input-sm" id="getinvoicebundle_invoice_positions_{{positions.ordinal}}_rateVAT" value="{{ positions.rateVat |round}}" readonly="readonly">
                            </td>
                            <td> 
                                <input class="form-control input-sm" id="getinvoicebundle_invoice_positions_{{positions.ordinal}}_amountVAT" value="{{ positions.amountVat |number_format(2, ',', ' ') }}" readonly="readonly"> 
                            </td>
                            <td> 
                                <input class="form-control input-sm" id="getinvoicebundle_invoice_positions_{{positions.ordinal}}_valueGross" value="{{ positions.valueGross| number_format(2, ',', ' ') }}" readonly="readonly"> 
                            </td>
                        
                        
                        
                    </tr>
                        <br>
                    {% endfor %}
                    </table>   
                </div>
        </div> 
    </div>           
    
    <div style="display: inline;" class="row">
        <div style="width: 50%; display: inline; float: left;" class="col-md-6">
            <div class="form-group">
                <b>Sposób płatności:</b>
                {{ invoice.paymentMethod }}              
            </div>
            <div class="form-group">
                <b>Waluta:</b>
                {{ invoice.currency }}                
            </div>
            <div class="form-group">
                <b>Nr rachunku bankowego:</b><br>
                {{ invoice.iban }}        
            </div>
            <div class="form-group">
                <b>zapłacono:</b>
                {{ invoice.paid | number_format(2, ',', ' ')}}              
            </div>
            <div class="form-group">
                <b>pozostaje do zapłaty:</b>
                {{ invoice.remainToPay | number_format(2, ',', ' ')}}               
            </div>
            <div class="form-group">
                <b>do zapłaty słownie</b><br>
                {{ invoice.toPayInWords }}            
            </div>
        </div>
        <div style="display: inline; width: 50%; float: right;  " class="col-md-6">
            <div class="table-responsive">

                <table class="table table-condensed">

                    <thead class="thead-default">
                        <tr>
                            <th scope="row"></th>
                            <th scope="row">
                                Wartość
                                <br>
                                Netto
                            </th>
                            <th scope="row">
                                Wartość
                                <br>
                                VAT
                            </th>
                            <th scope="row">
                                Wartość
                                <br>
                                Brutto                       
                            </th>                  
                        </tr>
                    </thead>
                    <tbody>
                    <div id="vat">
                        <tr style="display: none;" id="vat0">
                            <td>
                                <input type="text" name="invoiceSummary0[taxName]" id="invoiceSummary0-taxName"
                                       class="form-control input-sm" value="23%" title="Stawka VAT" readonly="readonly">
                            </td>

                            <td>
                                <input type="text" name="invoiceSummary0[netValueSummaryForTaxRate]" id="invoiceSummary0-netValueSummaryForTaxRate"
                                       class="form-control input-sm" value="0" title="Wartość Netto" readonly="readonly">   
                            </td>
                            <td>
                                <input type="text" name="invoiceSummary0[taxAmountSummaryForTaxRate]" id="invoiceSummary0-taxAmountSummaryForTaxRate"
                                       class="form-control input-sm" value="0" title="Wartość VAT" readonly="readonly">
                            </td>
                            <td>
                                <input type="text" name="invoiceSummary0[valueSummaryForTaxRate]" id="invoiceSummary0-valueSummaryForTaxRate"
                                       class="form-control input-sm" value="0" readonly="readonly">
                            </td>

                        </tr>
                        <tr style="display: none;" id="vat1">
                            <td>
                                <input type="text" name="invoiceSummary1[taxName]" id="invoiceSummary1-taxName"
                                       class="form-control input-sm" value="8%" title="Stawka VAT" readonly="readonly">                                                
                            </td>


                            <td>
                                <input type="text" name="invoiceSummary1[netValueSummaryForTaxRate]" id="invoiceSummary1-netValueSummaryForTaxRate"
                                       class="form-control input-sm" value="0" title="Wartość Netto" readonly="readonly">                     
                            </td>
                            <td>
                                <input type="text" name="invoiceSummary1[taxAmountSummaryForTaxRate]" id="invoiceSummary1-taxAmountSummaryForTaxRate"
                                       class="form-control input-sm" value="0" title="Wartość VAT" readonly="readonly">
                            </td>
                            <td>
                                <input type="text" name="invoiceSummary1[valueSummaryForTaxRate]" id="invoiceSummary1-valueSummaryForTaxRate"
                                       class="form-control input-sm" value="0" readonly="readonly">                    
                            </td>

                        </tr>
                        <tr style="display: none;" id="vat2">                   
                            <td>
                                <input type="text" name="invoiceSummary2[taxName]" id="invoiceSummary2-taxName"
                                       class="form-control input-sm" value="5%" title="Stawka VAT" readonly="readonly"> 
                            </td>


                            <td>
                                <input type="text" name="invoiceSummary2[netValueSummaryForTaxRate]" id="invoiceSummary2-netValueSummaryForTaxRate"
                                       class="form-control input-sm" value="0" title="Wartość Netto" readonly="readonly">                     
                            </td>
                            <td>
                                <input type="text" name="invoiceSummary2[taxAmountSummaryForTaxRate]" id="invoiceSummary2-taxAmountSummaryForTaxRate"
                                       class="form-control input-sm" value="0" title="Wartość VAT" readonly="readonly">                    
                            </td>
                            <td>
                                <input type="text" name="invoiceSummary2[valueSummaryForTaxRate]" id="invoiceSummary2-valueSummaryForTaxRate"
                                       class="form-control input-sm" value="0" readonly="readonly">                  
                            </td>

                        </tr>
                        <tr style="display: none;" id="vat3">
                            <td>
                                <input type="text" name="invoiceSummary3[taxName]" id="invoiceSummary3-taxName"
                                       class="form-control input-sm" value="0%" title="Stawka VAT" readonly="readonly">                        
                            </td>

                            <td>
                                <input type="text" name="invoiceSummary3[netValueSummaryForTaxRate]" id="invoiceSummary3-netValueSummaryForTaxRate"
                                       class="form-control input-sm" value="0" title="Wartość Netto" readonly="readonly">                    
                            </td>
                            <td>
                                <input type="text" name="invoiceSummary3[taxAmountSummaryForTaxRate]" id="invoiceSummary3-taxAmountSummaryForTaxRate"
                                       class="form-control input-sm" value="0" title="Wartość VAT" readonly="readonly">                      
                            </td>
                            <td>
                                <input type="text" name="invoiceSummary3[valueSummaryForTaxRate]" id="invoiceSummary3-valueSummaryForTaxRate"
                                       class="form-control input-sm" value="0" readonly="readonly">                      
                            </td>

                        </tr>
                        <tr style="display: none;" id="vat4">
                            <td>
                                <input type="text" name="invoiceSummary4[taxName]" id="invoiceSummary4-taxName"
                                       class="form-control input-sm" value="ZW" title="Stawka VAT" readonly="readonly">                         
                            </td>

                            <td>
                                <input type="text" name="invoiceSummary4[netValueSummaryForTaxRate]" id="invoiceSummary4-netValueSummaryForTaxRate"
                                       class="form-control input-sm" value="0" title="Wartość Netto" readonly="readonly">                      
                            </td>
                            <td>
                                <input type="text" name="invoiceSummary4[taxAmountSummaryForTaxRate]" id="invoiceSummary4-taxAmountSummaryForTaxRate"
                                       class="form-control input-sm" value="0" title="Wartość VAT" readonly="readonly">                         
                            </td>
                            <td>
                                <input type="text" name="invoiceSummary4[valueSummaryForTaxRate]" id="invoiceSummary4-valueSummaryForTaxRate"
                                       class="form-control input-sm" value="0" readonly="readonly">                       
                            </td>

                        </tr>
                        <tr style="display: none;" id="vat5">
                            <td>
                                <input type="text" name="invoiceSummary5[taxName]" id="invoiceSummary5-taxName"
                                       class="form-control input-sm" value="NP" title="Stawka VAT" readonly="readonly">                          
                            </td>

                            <td>
                                <input type="text" name="invoiceSummary5[netValueSummaryForTaxRate]" id="invoiceSummary5-netValueSummaryForTaxRate"
                                       class="form-control input-sm" value="0" title="Wartość Netto" readonly="readonly">                                            
                            </td>
                            <td>
                                <input type="text" name="invoiceSummary5[taxAmountSummaryForTaxRate]" id="invoiceSummary5-taxAmountSummaryForTaxRate"
                                       class="form-control input-sm" value="0" title="Wartość VAT" readonly="readonly">                       
                            </td>
                            <td>
                                <input type="text" name="invoiceSummary5[valueSummaryForTaxRate]" id="invoiceSummary5-valueSummaryForTaxRate"
                                       class="form-control input-sm" value="0" readonly="readonly">                                           
                            </td>

                        </tr>
                    </div>
                    </tbody>    
                </table>

            </div>


            <div class="form-group">
                <b>Razem kwota netto:</b>
                {{ invoice.totalValueNet |number_format(2, ',', ' ') }}               
            </div>    
            <div class="form-group">
                <b>Razem kwota VAT:</b>
                {{ invoice.totalAmountVAT | number_format(2, ',', ' ')}}               
            </div> 
            <div class="form-group">
                <b>Razem kwota brutto</b>
                {{ invoice.totalValueGross | number_format(2, ',', ' ')}}               
            </div>                 
        </div>       
    </div>        
    <hr style="color: #000000; background: #000000; width: 100%; height: 2px; margin-bottom: 25px;">
    <div class="row">
        <div style="float: left; width: 50%;" class="col-md-6">
            <div class="form-group">
                <b>Osoba upoważniona <br> do wystawienia faktury:</b>
                {{ invoice.authorisedToIssue }}                               
            </div>       
        </div>
        <div style="float: right; width: 50%;" class="col-md-6">
            <div class="form-group">
                <b>Osoba upoważniona <br>do otrzymania faktury:</b>
                {{ invoice.allowedToReceive }}                      
            </div>       
        </div>     
    </div>    
  
              

{% endblock %}
    
