{% extends 'base.html.twig' %}

{% block body %}
    <h3>Twoja faktura</h3>
    {% block pdf %}
        {% include 'invoice/pdf.html.twig' %}
    {% endblock %}
    <ul class="list-inline">
        <li>
            <a class="btn btn-default btn-sm" href="{{ path('invoice_index') }}">Powrót do listy faktur</a>
        </li>
        <li>
            <a class="btn btn-primary btn-sm" href="{{ path('invoice_edit', { 'id': invoice.id }) }}">Edycja faktury</a>
        </li>
        <li>    
            {{ form_start(delete_form) }}
            <input type="submit" class="btn btn-danger btn-sm" value="Usuń fakturę">
            {{ form_end(delete_form) }}
        </li>
        <li>
            <a href="{{ path('invoice_folder', { 'id': invoice.id }) }} "> PDF</a>
        </li>
    </ul>
    <script src="{{ absolute_url(asset('js/jquery-3.1.1.js'))}}"></script>
    <script src="{{ absolute_url(asset('js/jquery.collection.js'))}}"></script>        
    <script src="{{ absolute_url(asset('js/counting.js')) }}"></script>
{% endblock %}
