{% extends 'base.html.twig' %}

{% block body %}
    <h3>Twoja faktura</h3>
    {% block pdf %}
    <div class="text-muted text-center">           
        <b>Faktura Nr</b>
        {{ invoice.invoiceNo }}           
    </div>
    <div class="row">    

        <div class="col-md-6">
            <div class="text-muted text-left">
                {% if invoice.invoiceLogo ends with 'b/d' or invoice.invoiceLogo is null%}

                {% else %}
                    <img src="{{ absolute_url(asset('uploads/logos/'))}}{{invoice.invoiceLogo}}"
                         height="150" width="150">
                {% endif %}
            </div>           
        </div>


        <div class="col-md-6">
            <div class="form-group text-muted text-right">                
                <b>Data wystawienia:</b> 
                {% if invoice.dateIssue %}{{ invoice.dateIssue|date('Y-m-d') }}{% endif %}            
            </div>
            <div class="form-group text-muted text-right">
                <b>Data sprzedaży:</b>
                {% if invoice.dateSale %}{{ invoice.dateSale|date('Y-m-d') }}{% endif %}
            </div>
            <div class="form-group text-muted text-right">
                <b>Data płatności:</b>
                {% if invoice.datePayment %}{{ invoice.datePayment|date('Y-m-d') }}{% endif %}
            </div>
        </div>
    </div>
    <div class="form-group">
        &nbsp;
    </div>
    <hr>            
    <div class="row"> 
        <div class="col-md-5">
            <div class="form-group">
                <b>Nazwa sprzedawcy:</b>
                {{ invoice.sellerName }}                    
            </div>
            <div class="form-group">       
                <b>Adres sprzedawcy:</b><br>
                {{ invoice.sellerAddressStreet }}<br>
                {{ invoice.sellerPostalCode }}
                {{ invoice.sellerAddressCity }}                              
            </div>
            <div class="form-group">
                <b>Telefon sprzedawcy:</b>
                {{ invoice.sellerPhone }}                              
            </div>
            <div class="form-group">
                <b>NIP sprzedawcy:</b>
                {{ invoice.sellerNip }}                     
            </div>           
        </div>
        <div class="col-md-2">           
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <b>Nazwa nabywcy:</b>
                {{ invoice.customerName }}                      
            </div>
            <div class="form-group">
                <b>Adres nabywcy:</b><br>
                {{ invoice.customerAddressStreet }}<br>
                {{ invoice.customerAddressPostalCode }}
                {{ invoice.customerAddressCity }}                    
            </div>
            <div class="form-group">
                <b>Telefon nabywcy:</b>
                {{ invoice.customerPhone }}                    
            </div>
            <div class="form-group">
                <b>NIP nabywcy:</b>
                {{ invoice.customerNip }}                     
            </div>           
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <table class="control-label">
                <th width="45px" float="left">
                    Lp.:
                </th>
                <th width="220px" float="left">
                    Nazwa produktu
                </th>
                <th width="70px" float="left">
                    PKWiU
                </th>
                <th width="70px" float="left">
                    ilość
                </th>
                <th width="45px" float="left">
                    JM
                </th>
                <th width="100px" float="left">
                    cena netto
                </th>
                <th width="120px" float="left">
                    wartość netto
                </th>
                <th width="80px" float="left">
                    VAT
                </th>
                <th width="100px" float="left">
                    kwota VAT
                </th>
                <th width="120px" float="left">
                    kwota brutto
                </th>

                <div id="form-test">
                   
                       
                   
                    
                    
                    {% for positions in invoice.positions %}
                  {#  {% for i in 0..5%}#}    
                        <tr class="position">
                      
                        
                            <td> 
                                <input class="form-control input-sm" value="{{ positions.ordinal }}" readonly="readonly">
                            </td>
                            <td> 
                                <input class="form-control input-sm" value="{{ positions.productName }}" readonly="readonly"> 
                            </td>
                            <td> 
                                <input class="form-control input-sm"value="{{ positions.pkwiu }}" readonly="readonly"> 
                            </td>               
                            <td> 
                                <input class="form-control input-sm" id="getinvoicebundle_invoice_positions_{{positions.ordinal}}_quantity" value="{{ positions.quantity }}" readonly="readonly"> 
                            </td>
                            <td> 
                                <input class="form-control input-sm" value="{{ positions.unitMeasure }}" readonly="readonly"> 
                            </td>
                            <td> 
                                <input class="form-control input-sm" id="getinvoicebundle_invoice_positions_{{positions.ordinal}}_priceNet" value="{{ positions.priceNet }}" readonly="readonly"> 
                            </td>
                            <td> 
                                <input class="form-control input-sm" id="getinvoicebundle_invoice_positions_{{positions.ordinal}}_valueNet" value="{{ positions.valueNet }}" readonly="readonly"> 
                            </td>
                            <td> 
                                <input class="form-control input-sm" id="getinvoicebundle_invoice_positions_{{positions.ordinal}}_rateVAT" value="{{ positions.rateVat }}" readonly="readonly">
                            </td>
                            <td> 
                                <input class="form-control input-sm" id="getinvoicebundle_invoice_positions_{{positions.ordinal}}_amountVAT" value="{{ positions.amountVat }}" readonly="readonly"> 
                            </td>
                            <td> 
                                <input class="form-control input-sm" id="getinvoicebundle_invoice_positions_{{positions.ordinal}}_valueGross" value="{{ positions.valueGross }}" readonly="readonly"> 
                            </td>
                        
                        
                        
                    </tr>
                        <br>
                    {% endfor %}
                    </table>   
                </div>
        </div> 
    </div>           
    <hr>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <b>Sposób płatności:</b>
                {{ invoice.paymentMethod }}              
            </div>
            <div class="form-group">
                <b>Waluta:</b>
                {{ invoice.currency }}                
            </div>
            <div class="form-group">
                <b>Nr rachunku bankowego:</b>
                {{ invoice.iban }}        
            </div>
            <div class="form-group">
                <b>zapłacono:</b>
                {{ invoice.paid }}              
            </div>
            <div class="form-group">
                <b>pozostaje do zapłaty:</b>
                {{ invoice.remainToPay }}               
            </div>
            <div class="form-group">
                <b>do zapłaty słownie</b>
                {{ invoice.toPayInWords }}            
            </div>
        </div>
        <div class="col-md-6">
            <div class="table-responsive">

                <table class="table table-condensed">

                    <thead class="thead-default">
                        <tr>
                            <th scope="row"></th>
                            <th scope="row">
                                Wartość
                                <br>
                                Netto
                            </th>
                            <th scope="row">
                                Wartość
                                <br>
                                VAT
                            </th>
                            <th scope="row">
                                Wartość
                                <br>
                                Brutto                       
                            </th>                  
                        </tr>
                    </thead>
                    <tbody>
                    <div id="vat">
                        <tr style="display: none;" id="vat0">
                            <td>
                                <input type="text" name="invoiceSummary0[taxName]" id="invoiceSummary0-taxName"
                                       class="form-control input-sm" value="23%" title="Stawka VAT" readonly="readonly">
                            </td>

                            <td>
                                <input type="text" name="invoiceSummary0[netValueSummaryForTaxRate]" id="invoiceSummary0-netValueSummaryForTaxRate"
                                       class="form-control input-sm" value="0" title="Wartość Netto" readonly="readonly">   
                            </td>
                            <td>
                                <input type="text" name="invoiceSummary0[taxAmountSummaryForTaxRate]" id="invoiceSummary0-taxAmountSummaryForTaxRate"
                                       class="form-control input-sm" value="0" title="Wartość VAT" readonly="readonly">
                            </td>
                            <td>
                                <input type="text" name="invoiceSummary0[valueSummaryForTaxRate]" id="invoiceSummary0-valueSummaryForTaxRate"
                                       class="form-control input-sm" value="0" readonly="readonly">
                            </td>

                        </tr>
                        <tr style="display: none;" id="vat1">
                            <td>
                                <input type="text" name="invoiceSummary1[taxName]" id="invoiceSummary1-taxName"
                                       class="form-control input-sm" value="8%" title="Stawka VAT" readonly="readonly">                                                
                            </td>


                            <td>
                                <input type="text" name="invoiceSummary1[netValueSummaryForTaxRate]" id="invoiceSummary1-netValueSummaryForTaxRate"
                                       class="form-control input-sm" value="0" title="Wartość Netto" readonly="readonly">                     
                            </td>
                            <td>
                                <input type="text" name="invoiceSummary1[taxAmountSummaryForTaxRate]" id="invoiceSummary1-taxAmountSummaryForTaxRate"
                                       class="form-control input-sm" value="0" title="Wartość VAT" readonly="readonly">
                            </td>
                            <td>
                                <input type="text" name="invoiceSummary1[valueSummaryForTaxRate]" id="invoiceSummary1-valueSummaryForTaxRate"
                                       class="form-control input-sm" value="0" readonly="readonly">                    
                            </td>

                        </tr>
                        <tr style="display: none;" id="vat2">                   
                            <td>
                                <input type="text" name="invoiceSummary2[taxName]" id="invoiceSummary2-taxName"
                                       class="form-control input-sm" value="5%" title="Stawka VAT" readonly="readonly"> 
                            </td>


                            <td>
                                <input type="text" name="invoiceSummary2[netValueSummaryForTaxRate]" id="invoiceSummary2-netValueSummaryForTaxRate"
                                       class="form-control input-sm" value="0" title="Wartość Netto" readonly="readonly">                     
                            </td>
                            <td>
                                <input type="text" name="invoiceSummary2[taxAmountSummaryForTaxRate]" id="invoiceSummary2-taxAmountSummaryForTaxRate"
                                       class="form-control input-sm" value="0" title="Wartość VAT" readonly="readonly">                    
                            </td>
                            <td>
                                <input type="text" name="invoiceSummary2[valueSummaryForTaxRate]" id="invoiceSummary2-valueSummaryForTaxRate"
                                       class="form-control input-sm" value="0" readonly="readonly">                  
                            </td>

                        </tr>
                        <tr style="display: none;" id="vat3">
                            <td>
                                <input type="text" name="invoiceSummary3[taxName]" id="invoiceSummary3-taxName"
                                       class="form-control input-sm" value="0%" title="Stawka VAT" readonly="readonly">                        
                            </td>

                            <td>
                                <input type="text" name="invoiceSummary3[netValueSummaryForTaxRate]" id="invoiceSummary3-netValueSummaryForTaxRate"
                                       class="form-control input-sm" value="0" title="Wartość Netto" readonly="readonly">                    
                            </td>
                            <td>
                                <input type="text" name="invoiceSummary3[taxAmountSummaryForTaxRate]" id="invoiceSummary3-taxAmountSummaryForTaxRate"
                                       class="form-control input-sm" value="0" title="Wartość VAT" readonly="readonly">                      
                            </td>
                            <td>
                                <input type="text" name="invoiceSummary3[valueSummaryForTaxRate]" id="invoiceSummary3-valueSummaryForTaxRate"
                                       class="form-control input-sm" value="0" readonly="readonly">                      
                            </td>

                        </tr>
                        <tr style="display: none;" id="vat4">
                            <td>
                                <input type="text" name="invoiceSummary4[taxName]" id="invoiceSummary4-taxName"
                                       class="form-control input-sm" value="ZW" title="Stawka VAT" readonly="readonly">                         
                            </td>

                            <td>
                                <input type="text" name="invoiceSummary4[netValueSummaryForTaxRate]" id="invoiceSummary4-netValueSummaryForTaxRate"
                                       class="form-control input-sm" value="0" title="Wartość Netto" readonly="readonly">                      
                            </td>
                            <td>
                                <input type="text" name="invoiceSummary4[taxAmountSummaryForTaxRate]" id="invoiceSummary4-taxAmountSummaryForTaxRate"
                                       class="form-control input-sm" value="0" title="Wartość VAT" readonly="readonly">                         
                            </td>
                            <td>
                                <input type="text" name="invoiceSummary4[valueSummaryForTaxRate]" id="invoiceSummary4-valueSummaryForTaxRate"
                                       class="form-control input-sm" value="0" readonly="readonly">                       
                            </td>

                        </tr>
                        <tr style="display: none;" id="vat5">
                            <td>
                                <input type="text" name="invoiceSummary5[taxName]" id="invoiceSummary5-taxName"
                                       class="form-control input-sm" value="NP" title="Stawka VAT" readonly="readonly">                          
                            </td>

                            <td>
                                <input type="text" name="invoiceSummary5[netValueSummaryForTaxRate]" id="invoiceSummary5-netValueSummaryForTaxRate"
                                       class="form-control input-sm" value="0" title="Wartość Netto" readonly="readonly">                                            
                            </td>
                            <td>
                                <input type="text" name="invoiceSummary5[taxAmountSummaryForTaxRate]" id="invoiceSummary5-taxAmountSummaryForTaxRate"
                                       class="form-control input-sm" value="0" title="Wartość VAT" readonly="readonly">                       
                            </td>
                            <td>
                                <input type="text" name="invoiceSummary5[valueSummaryForTaxRate]" id="invoiceSummary5-valueSummaryForTaxRate"
                                       class="form-control input-sm" value="0" readonly="readonly">                                           
                            </td>

                        </tr>
                    </div>
                    </tbody>    
                </table>

            </div>


            <div class="form-group">
                <b>Razem kwota netto:</b>
                {{ invoice.totalValueNet }}               
            </div>    
            <div class="form-group">
                <b>Razem kwota VAT:</b>
                {{ invoice.totalAmountVAT }}               
            </div> 
            <div class="form-group">
                <b>Razem kwota brutto</b>
                {{ invoice.totalValueGross }}               
            </div>                 
        </div>       
    </div>        
    <hr>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <b>Osoba upoważniona do wystawienia faktury:</b>
                {{ invoice.authorisedToIssue }}                               
            </div>       
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <b>Osoba upoważniona do otrzymania faktury:</b>
                {{ invoice.allowedToReceive }}                      
            </div>       
        </div>     
    </div>    
    

    {% endblock %}
    <ul class="list-inline">
        <li>
            <a class="btn btn-default btn-sm" href="{{ path('invoice_index') }}">Powrót do listy faktur</a>
        </li>
        <li>
            <a class="btn btn-primary btn-sm" href="{{ path('invoice_edit', { 'id': invoice.id }) }}">Edycja faktury</a>
        </li>
        <li>    
            {{ form_start(delete_form) }}
            <input type="submit" class="btn btn-danger btn-sm" value="Usuń fakturę">
            {{ form_end(delete_form) }}
        </li>
        <li>
            <a class="btn btn-warning btn-sm" href="{{ path('invoice_pdf', { 'id': invoice.id }) }} "> PDF</a>
        </li>
    </ul>
    <script src="{{ absolute_url(asset('js/jquery-3.1.1.js'))}}"></script>
    <script src="{{ absolute_url(asset('js/jquery.collection.js'))}}"></script>        
    <script src="{{ absolute_url(asset('js/counting.js')) }}"></script>
{% endblock %}
