{% extends 'base.html.twig' %}

{% block body %}
    <div class="tab-pane active col-md-6">
        <h3>Dodawanie nowej firmy</h3>

        {{ form_start(form) }}

        <div>
            <p class="text-muted text-left">  
                {{ form_label(form.name, 'podaj nazwę firmy:', { 'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.name,{ 'attr': {'class': 'form-control top'}}) }}  
            </p>   
        </div>  
        <div>
            <p class="text-muted text-left">  
                {{ form_label(form.addressStreet, 'podaj ulicę i nr lokalu:', { 'label_attr': {'class': 'control-label'}}) }}               
                {{ form_widget(form.addressStreet,{ 'attr': {'class': 'form-control top'}}) }}  
            </p>   
        </div>    
        <div>
            <p class="text-muted text-left">  
                {{ form_label(form.addressPostalCode, 'podaj kod pocztowy:', { 'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.addressPostalCode,{ 'attr': {'class': 'form-control top'}}) }}  
            </p>   
        </div> 
        <div>
            <p class="text-muted text-left">  
                {{ form_label(form.addressCity, 'podaj miasto:', { 'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.addressCity,{ 'attr': {'class': 'form-control top'}}) }}  
            </p>   
        </div>
        <div>
            <p class="text-muted text-left">  
                {{ form_label(form.email, 'podaj e-mail:', { 'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.email,{ 'attr': {'class': 'form-control top'}}) }}  
            </p>   
        </div>
        <div>
            <p class="text-muted text-left">  
                {{ form_label(form.phone, 'podaj telefon:', { 'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.phone,{ 'attr': {'class': 'form-control top'}}) }}  
            </p>   
        </div> 
        <div>
            <p class="text-muted text-left">  
                {{ form_label(form.companyLogo, 'podaj logo firmy (nie więcej niż 2 MB):', { 'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.companyLogo,{ 'attr': {'class': 'form-control-file top'}}) }}  
            </p>   
        </div>
        <div>
            <p class="text-muted text-left">  
                {{ form_label(form.nip, 'podaj NIP:', { 'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.nip,{ 'attr': {'class': 'form-control top'}}) }}  
            </p>   
        </div>
        <div>
            <p class="text-muted text-left">  
                {{ form_label(form.iban, 'podaj nr rachunku bankowego:', { 'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.iban,{ 'attr': {'class': 'form-control top'}}) }}  
            </p>   
        </div>            
        <input type="submit" class="btn btn-success btn-sm" value="dodaj firmę" />
        <a class="btn btn-default btn-sm" href="{{ path('company_index') }}">Powrót do listy firm</a>

        
        {{ form_end(form) }}
        
    </div>
      <script src="{{ asset('js/companyValidation.js') }}"></script> 

{% endblock %}
