{% extends 'base.html.twig' %}

{% block body %}
    <h1>Company</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ company.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ company.name }}</td>
            </tr>
            <tr>
                <th>Addressstreet</th>
                <td>{{ company.addressStreet }}</td>
            </tr>
            <tr>
                <th>Addresslocalno</th>
                <td>{{ company.addressLocalNo }}</td>
            </tr>
            <tr>
                <th>Addressflatno</th>
                <td>{{ company.addressFlatNo }}</td>
            </tr>
            <tr>
                <th>Addresspostalcode</th>
                <td>{{ company.addressPostalCode }}</td>
            </tr>
            <tr>
                <th>Addresscity</th>
                <td>{{ company.addressCity }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ company.email }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ company.phone }}</td>
            </tr>
            <tr>
                <th>Companylogo</th>
                <td>{{ company.companyLogo }}</td>
            </tr>
            <tr>
                <th>Nip</th>
                <td>{{ company.nip }}</td>
            </tr>
            <tr>
                <th>Iban</th>
                <td>{{ company.iban }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('company_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('company_edit', { 'id': company.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
