{% extends 'base.html.twig' %}

{% block body %}
        <div id="borderedTable" class="body collapse in">
    <h3>dane firmy</h3>

    <table class="table table-bordered responsive-table">
        <tbody>
            <tr>
                <th>Nazwa firmy</th>
                <td>{{ company.name }}</td>
            </tr>
            <tr>
                <th>Ulica</th>
                <td>{{ company.addressStreet }} </td>
            </tr>
            <tr>
                <th>Budynek</th>
                <td>{{ company.addressLocalNo }}</td>
            </tr>
            <tr>
                <th>Lokal</th>
                <td>{{ company.addressFlatNo }}</td>
            </tr>
            <tr>
                <th>Kod pocztowy</th>
                <td>{{ company.addressPostalCode }}</td>
            </tr>
            <tr>
                <th>Miasto</th>
                <td>{{ company.addressCity }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ company.email }}</td>
            </tr>
            <tr>
                <th>Telefon</th>
                <td>{{ company.phone }}</td>
            </tr>
            <tr>
                <th>Logo firmy</th>
                <td> 
                    {% if company.companyLogo ends with 'b/d' %}
                   brak loga firmy
                    {% else%}
                    <a href="{{ asset('uploads/logos/' ~ company.companyLogo) }}"> 
                        <img src="{{ asset('uploads/logos/')}}{{company.companyLogo}}"
                             height="120" width="120">
                    </a>
                    {% endif%}
                </td>
            </tr>
            <tr>
                <th>NIP</th>
                <td>{{ company.nip }}</td>
            </tr>
            <tr>
                <th>Nr rachunku bankowego</th>
                <td>{{ company.iban }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="list-inline">
        <li>
            <a class="btn btn-default btn-sm" href="{{ path('company_index') }}">Powrót do listy firm</a>
        </li>
        <li>
            <a class="btn btn-default btn-sm" href="{{ path('company_edit', { 'id': company.id }) }}">Edycja danych firmy</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" class="btn btn-danger btn-sm" value="Usuń firmę">
            {{ form_end(delete_form) }}
        </li>
    </ul>
        </div>
{% endblock %}
