{% trans_default_domain 'FOSUserBundle' %}

<div id="top" class="tab-pane active">
    <div class="form-signing">
        <div class="text-center">
            <img src="{{ asset('img/getInvoiceLogo.png')}}" alt="Metis Logo">
        </div>
        <hr>
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
        <p class="text-muted text-center">
            Zrejestruj się
        </p>
        <div>
            <p class="text-muted text-left">  
                {# {{ form_label(form.email) }} #}
                podaj email:
            </p>
            <input type="text" class="form-control top" {{ form_widget(form.email) }}        />   
        </div>
        <div>
            <p class="text-muted text-left">
                {#{{ form_label(form.username) }}#}
                podaj imię:
            </p>
            <input type="text" class="form-control top" {{ form_widget(form.username) }}  />                
        </div> 
        <div>
            <p class="text-muted text-left">
                podaj hasło:
            </p>
            <input type="password" id="password" name="_password" class="form-control top" required="required" {{ form_widget(form.plainPassword) }}    />       
        </div> 
        <div>
            <p class="text-muted text-left">
                powtórz hasło:
            </p>
            <input type="password" id="password" name="_password" class="form-control top" required="required" {{ form_widget(form.plainPassword) }}   />                    
        </div>    
        <div>
            <input type="submit" id="_submit" class="btn btn-lg btn-primary btn-block" name="_submit" value="utwórz konto" />
        </div>
        {{ form_end(form) }}
    </div>
    <hr>
    <div class="text-center">
        <ul class="list-inline">
            <li><a class="btn btn-default btn-sm" href="{{ path('fos_user_security_login') }}">Logowanie</a></li>
            <li><a class="btn btn-default btn-sm" href="{{ path('fos_user_resetting_request') }}">Zapomniałem hasła</a></li>
        </ul>
    </div>
</div>