{% extends 'base.html.twig' %}

{% block body %}
    <div class="tab-pane active col-md-6">
        <h3>Dodawanie kontrahenta</h3>

        {{ form_start(form) }}

        <div>
            <p class="text-muted text-left">  
                podaj nazwe kontrahenta:
                {{ form_widget(form.name,{ 'attr': {'class': 'form-control top'}}) }}  
            </p>   
        </div>   
        <div>
            <p class="text-muted text-left">  
                podaj ulice:
                {{ form_widget(form.addressStreet,{ 'attr': {'class': 'form-control top'}}) }}  
            </p>   
        </div> 
        <div>
            <p class="text-muted text-left">  
                podaj nr domu:
                {{ form_widget(form.addressLocalNo,{ 'attr': {'class': 'form-control top'}}) }}  
            </p>   
        </div>             
        <div>
            <p class="text-muted text-left">  
                podaj nr lokalu:
                {{ form_widget(form.addressFlatNo,{ 'attr': {'class': 'form-control top'}}) }}  
            </p>   
        </div>             
        <div>
            <p class="text-muted text-left">  
                podaj kod pocztowy:
                {{ form_widget(form.addressPostalCode,{ 'attr': {'class': 'form-control top'}}) }}  
            </p>   
        </div>            
        <div>
            <p class="text-muted text-left">  
                podaj miasto:
                {{ form_widget(form.addressCity,{ 'attr': {'class': 'form-control top'}}) }}  
            </p>   
        </div>            
        <div>
            <p class="text-muted text-left">  
                podaj e-mail:
                {{ form_widget(form.email,{ 'attr': {'class': 'form-control top'}}) }}  
            </p>   
        </div> 
        <div>
            <p class="text-muted text-left">  
                podaj telefon:
                {{ form_widget(form.phone,{ 'attr': {'class': 'form-control top'}}) }}  
            </p>   
        </div>           
        <div>
            <p class="text-muted text-left">  
                podaj NIP:
                {{ form_widget(form.nip,{ 'attr': {'class': 'form-control top'}}) }}  
            </p>   
        </div>            

        <input type="submit" class="btn btn-default btn-sm" value="Dodaj kontrahenta" />
        {{ form_end(form) }}


        <a class="btn btn-default btn-sm" href="{{ path('customer_index') }}">Powrót do listy firm</a>

    </div>
{% endblock %}
