{% extends 'base.html.twig' %}

{% block body %}
            <div id="borderedTable" class="body collapse in">
    <h3>Dane kontrahenta</h3>

    <table class="table table-bordered responsive-table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ customer.id }}</td>
            </tr>
            <tr>
                <th>Nazwa</th>
                <td>{{ customer.name }}</td>
            </tr>
            <tr>
                <th>Ulica</th>
                <td>{{ customer.addressStreet }}</td>
            </tr>
            <tr>
                <th>Budynek</th>
                <td>{{ customer.addressLocalNo }}</td>
            </tr>
            <tr>
                <th>Lokal</th>
                <td>{{ customer.addressFlatNo }}</td>
            </tr>
            <tr>
                <th>Kod pocztowy</th>
                <td>{{ customer.addressPostalCode }}</td>
            </tr>
            <tr>
                <th>Miasto</th>
                <td>{{ customer.addressCity }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ customer.email }}</td>
            </tr>
            <tr>
                <th>Telefon</th>
                <td>{{ customer.phone }}</td>
            </tr>
            <tr>
                <th>NIP</th>
                <td>{{ customer.nip }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="list-inline">
        <li>
            <a class="btn btn-default btn-sm" href="{{ path('customer_index') }}">Powrót do listy kontrahentów</a>
        </li>
        <li>
            <a class="btn btn-default btn-sm" href="{{ path('customer_edit', { 'id': customer.id }) }}">Edycja danych kontrahenta</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" class="btn btn-danger btn-sm" value="Usuń kontrahenta">
            {{ form_end(delete_form) }}
        </li>
    </ul>
            </div>
{% endblock %}
