{% trans_default_domain 'FOSUserBundle' %}

<div id="top" class="tab-pane active col-md-4 col-sm-offset-4" >
    <div class="form-signing">
        <div class="text-center">
            <img src="{{ asset('img/getInvoiceLogo.png')}}" alt="Metis Logo">
        </div>
        <hr>       
        {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
        <p class="text-muted text-center">
            Zmnień swoje dane
        </p>
        <div>
            <p class="text-muted text-left">
                podaj imię:           
                {{ form_widget(form.username ,{ 'attr': {'class': 'form-control top'}}) }}  
            </p>       
        </div>
        <div>
            <p class="text-muted text-left">  
                podaj email:
                {{ form_widget(form.email,{ 'attr': {'class': 'form-control top'}}) }}  
            </p>   
        </div> 
        <div>
            <p class="text-muted text-left">
                podaj hasło:          
                {{ form_widget(form.current_password ,{ 'attr': {'class': 'form-control top'}}) }} 
            </p>
        </div>     
        <div>
            <input type="submit" id="_submit" class="btn btn-lg btn-primary btn-block" name="_submit" value="Zmień dane" />
        </div>
        {{ form_end(form) }}
        <hr>
        <div class="text-center">
            <ul class="list-inline">
                <li><a class="btn btn-default btn-sm" href="{{ path('getinvoice_default_index') }}">Strona główna</a></li>
                <li><a class="btn btn-default btn-sm" href="{{ path('fos_user_profile_show') }}">Moje dane</a></li>
            </ul>
        </div>        
    </div>
</div>